<button class="btn btn-success" (click)="openPaymentModal()">
  Crear nuevo
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>fecha</th>
      <th>amount</th>
      <th>method</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of paginated">
      <td>{{ payment.id }}</td>
      <td>{{ payment.date ? (payment.date | date:'shortDate') : '-' }}</td>
      <td>{{ payment.amount | currency }}</td>
      <td>{{ payment.status }}</td>
      <td>{{ payment.method  }}</td>
      <td class="d-flex justify-content-end">
        <button class="btn btn-danger btn-sm" (click)="openDeleteModal(payment)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
<app-paginator
  [totalItems]="payments().length"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
></app-paginator>