<button class="btn btn-success" (click)="openPaymentModal()">
  {{ 'BUTTONS.ADD-NEW' | translate }}
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ 'TABLE-COLUMNS.ID' | translate }}</th>
      <th>{{ 'TABLE-COLUMNS.DATE' | translate }}</th>
      <th>{{ 'TABLE-COLUMNS.AMOUNT' | translate }}</th>
      <th>{{ 'TABLE-COLUMNS.STATUS' | translate }}</th>
      <th>{{ 'TABLE-COLUMNS.METHOD' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of paginated">
      <td>{{ payment.id }}</td>
      <td>{{ payment.date ? (payment.date | date:'shortDate') : '-' }}</td>
      <td>{{ payment.amount | currency }}</td>
      <td>{{ payment.status }}</td>
      <td>{{ payment.method  }}</td>
      <td class="d-flex justify-content-end">
        <button class="btn btn-danger btn-sm" (click)="openDeleteModal(payment)">
          {{ 'BUTTONS.REMOVE' | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
<app-paginator
  [totalItems]="payments().length"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
></app-paginator>