<ngb-alert *ngIf="showSuccess" type="success" (close)="showSuccess = false" [dismissible]="true">
  ¡Pago creado con éxito!
</ngb-alert>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <app-form-field label="Amount" placeholder="Amount">
        <app-input className="form-control" [(ngModel)]="amount"></app-input>
      </app-form-field>
      <app-button className="btn btn-primary" label="Crear Payment" (click)="submit()"></app-button>
    </div>
  </div>
</div>

