<table class="table table-striped">
  <thead>
    <tr>
       <th>id</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders()">
      <td>{{ order.id }}</td>
      <td>{{ order.product }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.price | currency }}</td>
      <td>{{ order.date ? (order.date | date:'shortDate') : '-' }}</td>
      <td>{{ order.status || '-' }}</td>
      <td class="d-flex justify-content-end">
        <button class="btn btn-danger btn-sm" (click)="openConfirmModal(confirmModal, order)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirm removing</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>¿Do you want to remove the product {{ orderToDelete?.product }}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">No</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Yes, confirm</button>
  </div>
</ng-template>