<div class="modal-header">
  <h5 class="modal-title">{{ title }}</h5>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <div *ngFor="let field of fields" class="mb-3">
      <label>{{ field.label }}</label>
      <input [type]="field.type" [id]="field.name" [formControlName]="field.name" class="form-control" />
      <div *ngIf="form.get(field.name)?.touched && form.get(field.name)?.errors" class="text-danger">
        <div *ngIf="form.get(field.name)?.errors?.['required']">
          {{ 'VALIDATOR.FIELD-MANDATORY' | translate:{ field: field.label } }}
        </div>
        <div *ngIf="form.get(field.name)?.errors?.['min']">
          {{ 'VALIDATOR.FIELD-MORE-EQUAL-ONE' | translate:{ field: field.label, min: field.min } }}
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar</button>
  <button class="btn btn-primary" (click)="submit()">Crear</button>
</div>

