<div class="container mt-4">
  <div class="row ">
    <div class="d-flex justify-content-end">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="menuDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                SELECT
            </button>
            <ul class="dropdown-menu" aria-labelledby="menuDropdown">
                <li><a class="dropdown-item" (click)="select('dashboard')">DASHBOARD</a></li>
                <li><a class="dropdown-item" (click)="select('order')">ORDER</a></li>
                <li><a class="dropdown-item" (click)="select('payment')">PAYMENT</a></li>
            </ul>
        </div>        
    </div>
  </div>
</div>





<router-outlet></router-outlet>