<button class="btn btn-success" (click)="openOrderModal()">
   <th>{{ 'BUTTONS.ADD-NEW' | translate }}</th>
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ 'TABLE-COLUMNS.ID' | translate }}</th>
      <th>{{ 'TABLE-COLUMNS.PRODUCT' | translate }}</th>
      <th>{{ 'TABLE-COLUMNS.QUANTITY' | translate }}</th>
      <th>{{ 'TABLE-COLUMNS.PRICE' | translate }}</th>
      <th>{{ 'TABLE-COLUMNS.DATE' | translate }}</th>
      <th>{{ 'TABLE-COLUMNS.STATUS' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of paginated">
      <td>{{ order.id }}</td>
      <td>{{ order.product }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.price | currency }}</td>
      <td>{{ order.date ? (order.date | date:'shortDate') : '-' }}</td>
      <td>{{ order.status || '-' }}</td>
      <td class="d-flex justify-content-end">
        <button class="btn btn-danger btn-sm" (click)="openDeleteModal(order)">
          {{ 'BUTTONS.REMOVE' | translate }}
        </button>        
      </td>
    </tr>
  </tbody>
</table>
<app-paginator
  [totalItems]="orders().length"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
></app-paginator>