<app-base-page>
  <section>
    <h2>{{ 'PAGES-TITLE.DASHBOARD' | translate }}</h2>
    <div class="stats">
      <app-card 
        [title]="'PAGES-TITLE.ORDER' | translate" 
        [value]="stats.totalOrders()">
      </app-card>
      <app-card 
        [title]="'PAGES-TITLE.PAYMENT' | translate" 
        [value]="stats.totalPayments()">
      </app-card>
      <app-card 
        [title]="'PAGES-TITLE.INCOME' | translate" 
        [value]="(stats.totalAmount() | currency:'USD':'symbol':'1.2-2')!">
      </app-card>            
    </div>
    <br>
    <div echarts [options]="chartOptions" class="demo-chart" style="height: 400px;"></div>
  </section>
</app-base-page>