<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
        <section>
          <h2>{{ 'PAGES-TITLE.DASHBOARD' | translate }}</h2>
          <div class="stats">
            <div class="card">
              <h3>{{ 'PAGES-TITLE.ORDER' | translate }}</h3>
              <p>{{ stats.totalOrders() }}</p>
            </div>
            <div class="card">
              <h3>{{ 'PAGES-TITLE.PAYMENT' | translate }}</h3>
              <p>{{ stats.totalPayments() }}</p>
            </div>
            <div class="card">
              <h3>{{ 'PAGES-TITLE.INCOME' | translate }}</h3>
              <p>{{ stats.totalAmount() | currency:'USD':'symbol':'1.2-2' }}</p>
            </div>
          </div>
          <br>
          <div echarts [options]="chartOptions" class="demo-chart" style="height: 400px;"></div>
        </section>
    </div>
  </div>
</div>