    <section class="dashboard">
      <h2>Resumen</h2>
      <div class="stats">
        <div class="card">
          <h3>Pedidos</h3>
          <p>{{ stats.totalOrders() }}</p>
        </div>
        <div class="card">
          <h3>Pagos</h3>
          <p>{{ stats.totalPayments() }}</p>
        </div>
        <div class="card">
          <h3>Ingresos</h3>
          <p>{{ stats.totalAmount() | currency:'USD':'symbol':'1.2-2' }}</p>
        </div>
      </div>
      <br>
      <div echarts [options]="chartOptions" class="demo-chart" style="height: 400px;"></div>
    </section>