<ngb-alert *ngIf="showSuccess" type="success" (close)="showSuccess = false" [dismissible]="true">
  ¡Orden creada con éxito!
</ngb-alert>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <app-form-field label="Producto" placeholder="Nombre del producto">
        <app-input className="form-control" [(ngModel)]="product"></app-input>
      </app-form-field>
      <app-form-field label="Cantidad" placeholder="Cantidad">
        <app-input type="number" className="form-control" [(ngModel)]="quantity"></app-input>
      </app-form-field>
      <app-form-field label="Precio" placeholder="Precio">
        <app-input type="number" className="form-control" [(ngModel)]="price"></app-input>
      </app-form-field>
      <app-button className="btn btn-primary" label="Crear Pedido" (click)="submit()"></app-button>
    </div>
  </div>
</div>

