.o-order-form {
  max-width: 500px;      /* controla ancho del formulario */
  margin: 20px auto;     /* lo centra horizontalmente y agrega margen arriba */
  display: flex;
  flex-direction: column;
  gap: 1rem;             /* espacio entre campos */
}